.Button {
        display: inline-block;
        margin-left: 10px;
        border: 0; 
        padding-left: 20px;
        /* background-size: 40%;  */
        background-repeat: no-repeat;
        background-position: center;
        /* opacity: 0.6; */
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
        outline: none; 
       }
       
       .Button:hover {
        background-color: aqua;
        opacity: 1;
       }
       
       .Button-label {
        position: absolute;
        margin-left: 15px;
        margin-top: 2px;
        
        /* width: 1px;
        height: 1px; */
        /* padding: 0; */
        /* overflow: hidden; */
        
        white-space: nowrap;
        
       
       }